<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <title>Weather in <%= data.name %></title>
    </head>
    <body>
        <% include ../partials/nav %>
        <div id='weatherContainer'>
           

            <% if (user) { %>
            <h1>Welcome<span style="color: red" id="myUserName"> <%= user.name %>!</span></h1>
            <% } %>

            <h4>The weather in <span style='color: red'><%= data.name %></span> is as follows...</h4>
            <p>The visibility is <%= data.visibility %> feet</p>
            <p>The current temperature is <%= Math.round(data.main.temp) %> °C</p>
            <p>Todays low temp is <%= Math.round(data.main.temp_min) %> °C</p>
            <p>The high today will be <%= Math.round(data.main.temp_max) %> °C</p>
            <p>The humidity is <%= data.main.humidity %>%</p>
        </div>

        <% include ../partials/scripts %>
    </body>
</html>
